body{
  background-color: grey;
}

.col-xs-12 {
  height: 75;
  background-color: green;
  text-align: center;
  color: white;
  border: 2px solid black;
}
.col-xs-8 {
  height: 50px;
  background-color: brown;
  text-align: center;
  color: white;
  border: 2px solid black;
}
.col-xs-6 {
  height: 50px;
  background-color: blue;
  text-align: center;
  color: white;
  border: 2px solid black;
}
.col-xs-4 {
  height: 50px;
  background-color: red;
  text-align: center;
  color: white;
  border: 2px solid black;
}
.footer .col-sm-4 {
  height: 25px;
  background-color: green;
  text-align: center;
  color: white;
  border: 2px solid white;
}
.col-sm-4 {
  height: 25px;
  background-color: white;
  text-align: center;
  color: black;
  border: 2px solid white;
}
.col-sm-8 {
  height: 25px;
  background-color: yellow;
  text-align: center;
  color: black;
  border: 2px solid white;
}